.game-area {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 2px solid #000;
}

.snake-head{
  position: absolute;
  width: 4%;
  height: 4%;
}

.snake-body {
  position: absolute;
  width: 2%;
  height: 2%;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.apple-body {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  z-index: 1;
}